<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>{{titulo}}</title>
</head>

<body class="body">
    <h1>Numeros aleatorios</h1>
    <div class="numbers">
    {{#each lista}}
    <div class="singular-number" class>número: {{this/Numero}}, ocurrencias: {{this/Ocurrencias}}</div>
    {{/each}}
    </div>

</body>
</html>