<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <title>{{titulo}}</title>
</head>

<body class="body">
    {{#if error }}
    <h3 class="error">{{error}}</h3>
    {{/if}}
    <form id="login-form" class="login" onsubmit="return addUser()" >
        <h2 class="login-title">Registro de usuario</h2>
        <label for="email">ingrese su email</label>
        <input class="input" type="text" id="email" name="email" placeholder="jose@gmail.com" required>
        <label for="password">ingrese su password</label>
        <input class="input" type="password" id="password" name="password" required>
        {{!-- <button class="btn" id="btn" type="submit">Registrar</button> --}}
        <button class="btn" id="btn" type="submit">Registrar</button>
    </form>
        <button class="btn" onclick="location.href='/login'" type="button">
         Ir a Login</button>
         <script src="js/register.js"></script>
</body>

</html>